@model Seguricel3.Models.SubgruposViewModel

@{
    Layout = "~/Views/Shared/_LayoutInternal.cshtml";
}
<script src="~/Scripts/Seguricel-DataGrid.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $("#IdPais").change(function () {
            $("#GrupoID").empty();
            $.ajax({
                type: 'POST',
                url: '@Url.Action("GetGruposByPais", "Tablas")',
                dataType: 'json',
                data: {
                    Id: $("#IdPais").val()
                },
                success: function (Grupos) {
                    $("#partialPlaceHolder").hide();
                    $.each(Grupos, function (i, grupo) {
                        $("#GrupoID").append('<option value = "' + grupo.Value + '">' + grupo.Text + '</option>');
                    });
                },
                error: function (ex) {
                    alert('Falló la consulta de grupos. ' + ex.status + ' ' + ex.statusText);
                }
            });
            return false;
        })
    });
</script>

<div>
    @using (Html.BeginForm("SubGrupos", "Tablas", FormMethod.Post))
    {
        <div class="form-group">
            @Html.LabelFor(m => m.IdPais, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(m => m.IdPais, Model.Paises, Resources.EtiquetasResource.labelSelectValue, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.IdPais, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.Label(Resources.EtiquetasResource.labelDDLGrupo, htmlAttributes: new { @class = "control-label col-md-2"})
            <div class="col-md-10">
                @Html.DropDownListFor(m => m.GrupoID, Model.Grupos, null, htmlAttributes: new { @class = "form-control", onchange = "showDialog('#dialogoRegistro'); this.form.submit();" })
            </div>
        </div>
    }
</div>
@if (Model.showSubGrupo)
{
    <div id="partialPlaceHolder" style="padding-top: 30px; margin-top: 60px;">
        <div style="margin-top: 20px;">
            @Html.ActionLink(Resources.EtiquetasResource.labelNewLink, "CreateSubGrupo", "Tablas", routeValues: new { IdPais = Model.IdPais, IdGrupo = Model.GrupoID }, htmlAttributes: new { @class = "btn btn-default place-right", onclick = "showDialog('#dialogoRegistro')" })
        </div>
        <div style="margin-top:80px; padding-top: 20px; border-top: 1px solid #000; width: 95%;">
            <table id="dataTable" class="dataTable" cellspacing="0" style="margin: auto;  width:100%; font-size: 12pt;">
                <thead>
                    <tr>
                        <th style="text-align:center; width: 80%;">
                            @Html.DisplayNameFor(m => m.SubGrupos.FirstOrDefault().Nombre)
                        </th>
                        <th style="text-align:center; width: 10%;">
                            @Html.DisplayNameFor(m => m.SubGrupos.FirstOrDefault().Codigo)
                        </th>
                        <th style="width: 5%;"></th>
                        <th style="width: 5%;"></th>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <td colspan="4">&nbsp;</td>
                    </tr>
                </tfoot>
                <tbody>
                    @foreach (var item in Model.SubGrupos)
                {
                        <tr>
                            <td>
                                @Html.DisplayFor(m => item.Nombre)
                            </td>
                            <td>
                                @Html.DisplayFor(m => item.Codigo)
                            </td>
                            <td style="text-align: center;">
                                <a href="@Url.Action("EditSubGrupo", "Tablas", routeValues: new { IdPais = item.IdPais, IdGrupo = item.Grupo, Id = item.Id })" onclick = "showDialog('#dialogoRegistro')"><span class="mif-pencil" title=@Resources.EtiquetasResource.labelEditLink></span></a>
                            </td>
                            <td style="text-align: center;">
                                <a href="@Url.Action("DeleteSubGrupo", "Tablas", routeValues: new { IdPais = item.IdPais, IdGrupo = item.Grupo, Id = item.Id })" onclick="return confirm('@item.Nombre @Resources.EtiquetasResource.DeleteConfirmMessage');"><span class="mif-bin" title=@Resources.EtiquetasResource.labelDeleteLink></span></a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
}
