@using System.Globalization;
@using Resources;

<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="Cache-control" content="no-cache">
    <meta http-equiv="pragma" content="no-cache">
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>

    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/metroUI/css")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/metroUI")

    <script type="text/javascript">
        function showDialogo(id) {
            var dialog = $(id).data('dialog');
            alert(dialog);
            dialog.open();
        }
    </script>

</head>

<body>
    @RenderSection("scripts", required: false)

    <div data-role="dialog" class="padding20" data-overlay="true" data-overlay-color="op-dark" id="dialogoRegistro">
        <h3>Seguricel</h3>
        <p style="color:green">
            <span class="mif-spinner5 mif-ani-spin"></span>
            @HomeResource.ProgressBarText
        </p>
    </div>

    @RenderBody()
</body>
</html>
