@using System.Globalization;

<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="Cache-control" content="no-cache">
    <meta http-equiv="pragma" content="no-cache">
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>

    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/metroUI/css")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/metroUI")

</head>
<body>
    @RenderSection("scripts", required: false)

    <div class="app-bar" style="margin: 0 auto;">
        <div class="col-md-12" style="padding: 5px; background-color: #808080;">
            <div class="col-md-3">
                <div>
                    <img class="logoimg" src="~/Imagenes/logo nuevo seguricel.png" height="50" />
                </div>
            </div>
            <div class="col-md-5" style="text-align:center; font-size: 32pt; vertical-align: middle;">
                @ViewBag.PageHeader
            </div>
            <div class="col-md-3">
                @if (Request.IsAuthenticated)
                {
                    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right", encType = "multipart/form-data", @style="float: right" }))
                    {
                        @Html.AntiForgeryToken()

                        <ul class="nav navbar-nav navbar-right">
                            <li>
                                @Html.ActionLink("Bienvenido(a): " + (@User as CustomPrincipal).Name, "Perfil", "Account")
                            </li>
                            <li>
                                @Html.ImageActionLink("Cerrar Sesión", "LogOff", "Account", htmlAttributes: new { @class = "btn btn-default" }, "~/Imagenes/close_session.jpg", 10)
                            </li>
                        </ul>
                    }
                }
            </div>
        </div>
    </div>
    <div x|style="height:100%;">
        <div class="col-md-3" style="height:100%; background-color: #f6f7f8;">
            @if (ViewBag.Menu != null)
            {
                @Html.Raw(@ViewBag.menu)
            }
        </div>
        <div class="col-md-9" style="height: auto;">
            @RenderBody()
        </div>
    </div>
</body>
</html>

