@using System.Globalization;
@using Resources;
@{
    ViewBag.Title = HomeResource.AppTitle;
}

<script type="text/javascript">
    function cambiaimg() {
        d = showDialog('#dialogoRegistro');
        var iframe = document.getElementById('if');
        iframe.src = iframe.src;
        d.close();
    }
    function showDialog(id) {
        var dialog = $(id).data('dialog');
        dialog.open();
        return dialog;
    }

</script>
@model Seguricel3.Models.ForgotPasswordViewModel
@{
    ViewBag.Title = "¿Olvidó la contraseña";

    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!-- Contenedores de mensajes de dialogo -->
<div data-role="dialog" class="padding20" data-overlay="true" data-overlay-color="op-dark" id="dialogoRegistro">
    <h3>Seguricel</h3>
    <p style="color:green">
        <span class="mif-spinner5 mif-ani-spin"></span>
        @HomeResource.ProgressBarText
    </p>
</div>

<img class="logoimg" src="~/Imagenes/logo_nuevo_small.png" height="40" />
<h2>@ViewBag.Title.</h2>

@using (Html.BeginForm("ForgotPassword", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    <h4>Especifique su correo electrónico.</h4>
    <hr />
    @Html.ValidationSummary("", new { @class = "text-danger" })
    <div class="form-group">
        @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
        </div>
        <br />
        <div align="center">
            <table width="500">
                <tr>
                    <td width="350">
                        <iframe id="if" src="@Url.Content("~/Account/Captcha")" frameborder="0" width="350" height="95"></iframe>
                    </td>
                    <td>
                        <input id="submitButton" type="button" value="Cambiar imagen" class="btn btn-default place-right" style="width: 200px;" onclick="cambiaimg()" />
                    </td>
                </tr>
            </table>
        </div>
           @Html.LabelFor(m => m.Captcha, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.Captcha, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" class="btn btn-default" value="Vínculo de correo electrónico" />
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
