@using Seguricel3.Models;
@using Resources;
@model PerfilViewModel

@{
    Layout = "~/Views/Shared/_LayoutInternal.cshtml";
}

<script type="text/javascript">


    $(function () {
        $(".datepicker").datetimepicker({
            lang: 'es',
            format: 'd/m/Y',
            formatDate: 'd/m/Y',
            dayOfWeekStart: 1,
            mask: true
        });
    });



</script>

@using (Html.BeginForm("Perfil", "Account", FormMethod.Post))
{
    <div class="fluent-menu" data-role="fluentmenu" data-on-special-click="specialClick">
        <ul class="tabs-holder">
            <li class="active"><a href="#tab_mailings">Edición</a></li>
        </ul>
        <div class="tabs-content form-actions">
            <div class="tab-panel" id="tab_mailings">
                <div class="tab-panel-group">
                    <div class="tab-group-content">
                        <button type="submit" id="approve-btn" class="fluent-big-button" , onclick="showDialog('#dialogoRegistro');">
                            <span class="icon mif-floppy-disk"></span>@Resources.EtiquetasResource.labelSaveLink<br />
                        </button>
                        @Html.ActionLlinkWithSpan("<span class=\"icon mif-cancel\"></span>" + Resources.EtiquetasResource.labelCancelLink, "Index", "Home", new { Nombre = Model.Nombre, Apodo = Model.Apodo }, new { @class = "fluent-big-button", @style = "text-decoration: none", onclick = "showDialog('#dialogoRegistro');" })
                    </div>
                    <div class="tab-group-caption">Edición</div>
                </div>
            </div>
        </div>
        <br />
        <div style=" border:1px solid #CCC; width:100%;">
            <div class="form-horizontal padding10">
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group">
                    @Html.LabelFor(model => model.Nombre, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.TextBoxFor(model => model.Nombre, htmlAttributes: new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.Nombre, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.Apodo, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.TextBoxFor(model => model.Apodo, htmlAttributes: new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.Apodo, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.FechaNacimiento, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">

                        @Html.TextBoxFor(model => model.FechaNacimiento,
                          new
                          {
                              htmlAttributes = new
                              {
                                  @Value = Model.FechaNacimiento.ToString("MM/dd/yyyy")
                              },
                              @class = "datepicker"
                          })

                        @Html.ValidationMessageFor(model => model.FechaNacimiento, "", new { @class = "text-danger" })

                        @Html.TextBox("aa", ("01/01/1990")
    , new { @class = "datepicker" })




                    </div>
                </div>
                <div class="form-group">
                    <span class="col-md-2 control-label">@Model.VaronLabel</span>
                    <div class="col-md-4">
                        @Html.RadioButtonFor(m => m.Varon, "true", new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.Varon, "", new { @class = "text-danger" })
                    </div>
                    <span class="col-md-2 control-label">@Model.HembraLabel</span>
                    <div class="col-md-4">
                        @Html.RadioButtonFor(m => m.Varon, "false", new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.Varon, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.Telefono, new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        @Html.TextBoxFor(m => m.Telefono, "true", new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.Telefono, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        @Html.TextBoxFor(m => m.Email, "true", new { @Value = "", @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        @Html.TextBoxFor(m => m.Password, "true", new { @Value="", @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        @Html.TextBoxFor(m => m.ConfirmPassword, "true", new { @Value = "", @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.ConfirmPassword, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(m => m.Pregunta1, new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        @Html.TextBoxFor(m => m.Pregunta1, "true", new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.Pregunta1, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(m => m.Respuesta1, new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        @Html.TextBoxFor(m => m.Respuesta1, "true", new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.Respuesta1, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(m => m.Pregunta2, new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        @Html.TextBoxFor(m => m.Pregunta2, "true", new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.Pregunta2, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(m => m.Respuesta2, new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        @Html.TextBoxFor(m => m.Respuesta2, "true", new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.Respuesta2, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.Pregunta3, new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        @Html.TextBoxFor(m => m.Pregunta3, "true", new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.Pregunta3, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(m => m.Respuesta3, new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        @Html.TextBoxFor(m => m.Respuesta3, "true", new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.Respuesta3, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
        </div>
    </div>
}
@section scripts {

    

<script type="text/javascript">
    //$(document).ready(function () {
      //  $('#example1').datepicker({
        //    format: "dd/mm/yyyy"
        //});
    //});


    //$(function () { // will trigger when the document is ready
        //$('#FechaNacimiento').datepicker({
          //  format: "dd/mm/yyyy"
        //});
        //Initialise any date pickers

        $(document).ready(function () {
            $("#FechaNacimiento").datepicker();
        });

    //});
</script>

}