@model Seguricel3.Models.ContactosViewModel

@{
    Layout = "~/Views/Shared/_LayoutInternal.cshtml";
}

<script src="~/Scripts/Seguricel-DataGrid.js"></script>

<script type="text/javascript">
    $(document).ready(function () {
        $('#IdPais').selectpicker({
            size: 10
        });
        $("#IdContrato").selectpicker({
            size: 10
        });
        $("#IdPais").change(function () {
            $("#IdContrato").empty();
            $.ajax({
                type: 'POST',
                url: '@Url.Action("GetContratosByPais", "Contrato")',
                dataType: 'json',
                data: {
                    Id: $("#IdPais").val()
                },
                success: function (Contratos) {
                    $("#partialPlaceHolder").hide();
                    $.each(Contratos, function (i, contrato) {
                        $("#IdContrato").append('<option value = "' + contrato.Value + '">' + contrato.Text + '</option>');
                    });
                    $('#IdContrato').selectpicker('refresh');
                },
                error: function (ex) {
                    alert('Falló la consulta de contratos por país. ' + ex.status + ' ' + ex.statusText);
                }
            });
            return false;
        })
    });
</script>

<div>
    @using (Html.BeginForm("Contactos", "Contrato", FormMethod.Post))
    {
        <div class="form-group">
            @Html.LabelFor(m => m.IdPais, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(m => m.IdPais, Model.Paises, Resources.EtiquetasResource.labelSelectValue, htmlAttributes: new { @class = "form-control selectpicker show-menu-arrow", data_live_search = "true" })
                @Html.ValidationMessageFor(model => model.IdPais, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.Label(Resources.EtiquetasResource.labelDDLContrato, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(m => m.IdContrato, Model.Contratos, htmlAttributes: new { @class = "form-control selectpicker show-menu-arrow", data_live_search = "true", onchange = "showDialog('#dialogoRegistro'); this.form.submit();" })
            </div>
        </div>
    }
</div>
@if (Model.showContactos)
{
    <div id="partialPlaceHolder" style="padding-top: 30px; margin-top: 60px;">
        <div style="margin-top: 20px;">
            @Html.ActionLink(Resources.EtiquetasResource.labelNewLink, "CreateContacto", "Contrato", routeValues: new { IdPais = Model.IdPais, IdContrato = Model.IdContrato }, htmlAttributes: new { @class = "btn btn-default place-right", onclick = "showDialog('#dialogoRegistro')" })
        </div>
        <div style="margin-top:80px; padding-top: 20px; border-top: 1px solid #000; width: 95%;">
            <table id="dataTable" class="dataTable" cellspacing="0" style="margin: auto;  width:100%; font-size: 12pt;">
                <thead>
                    <tr>
                        <th style="text-align:center; width: 40%;">
                            @Html.DisplayNameFor(m => m.Contactos.FirstOrDefault().Nombre)
                        </th>
                        <th style="text-align:center; width: 20%;">
                            @Html.DisplayNameFor(m => m.Contactos.FirstOrDefault().CargoJunta)
                        </th>
                        <th style="text-align:center; width: 15%;">
                            @Html.DisplayNameFor(m => m.Contactos.FirstOrDefault().TelefonoFijo)
                        </th>
                        <th style="text-align:center; width: 15%;">
                            @Html.DisplayNameFor(m => m.Contactos.FirstOrDefault().TelefonoMovil)
                        </th>
                        <th style="width: 5%;"></th>
                        <th style="width: 5%;"></th>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <td colspan="6">&nbsp;</td>
                    </tr>
                </tfoot>
                <tbody>
                    @foreach (var item in Model.Contactos)
                {
                        <tr>
                            <td>
                                @Html.DisplayFor(m => item.Nombre)
                            </td>
                            <td>
                                @Html.DisplayFor(m => item.CargoJunta)
                            </td>
                            <td>
                                @Html.DisplayFor(m => item.TelefonoFijo)
                            </td>
                            <td>
                                @Html.DisplayFor(m => item.TelefonoMovil)
                            </td>
                            <td style="text-align: center;">
                                <a href="@Url.Action("EditContacto", "Contrato", routeValues: new { IdPais = item.IdPais, IdContrato = item.IdContrato, IdContacto = item.IdContacto })" onclick="showDialog('#dialogoRegistro')"><span class="mif-pencil" title=@Resources.EtiquetasResource.labelEditLink></span></a>
                            </td>
                            <td style="text-align: center;">
                                <a href="@Url.Action("DeleteContacto", "Contrato", routeValues: new { IdPais = item.IdPais, IdContrato = item.IdContrato, IdContacto = item.IdContacto })" onclick="return confirm('@item.Nombre @Resources.EtiquetasResource.DeleteConfirmMessage');"><span class="mif-bin" title=@Resources.EtiquetasResource.labelDeleteLink></span></a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
}

