@model IEnumerable<Seguricel3.Models.ContratoViewModel>

@{
    Layout = "~/Views/Shared/_LayoutInternal.cshtml";
}
<script type="text/javascript">

    $(document).ready(function () {
        $("#report tr:odd").addClass("odd");
        $("#report tr:not(.odd)").hide();
        $("#report tr:first-child").show();

        $("#report tr.odd").click(function () {
            $(this).next("tr").toggle();
            $(this).find(".arrow").toggleClass("up");
        });
        //$("#report").jExpand();
    });
</script>
<script type="text/javascript" src="~/Scripts/Seguricel-DataGrid.js"></script>

<div>
    @Html.ActionLink(Resources.EtiquetasResource.labelNewLink, "Create", "Contrato", null, htmlAttributes: new { @class = "btn btn-default place-right", onclick = "showDialog('#dialogoRegistro')" })
</div>
<div style="margin-top:60px; padding-top: 20px; border-top: 1px solid #000; width: 95%;">
    <table id="dataTable" class="display" cellspacing="0" style="margin: auto;  width:100%; font-size: 10pt;">
        <thead>
            <tr>
                <th style="vertical-align: middle; width: 15%;">
                    @Html.DisplayNameFor(model => model.NroContrato)
                </th>
                <th style="vertical-align: middle; width: 40%;">
                    @Html.DisplayNameFor(model => model.NombreCompleto)
                </th>
                <th style="vertical-align: middle; width: 10%;">
                    @Html.DisplayNameFor(model => model.FechaContrato)
                </th>
                <th style="vertical-align: middle; width: 25%;">
                    @Html.DisplayNameFor(model => model.Direccion)
                </th>
                <th style="width: 3%;"></th>
                <th style="width: 3%;"></th>
                <th style="width: 3%;"></th>
            </tr>
        </thead>
        <tfoot>
            <tr>
                <td colspan="7">&nbsp;</td>
            </tr>
        </tfoot>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(m => item.NroContrato)
                    </td>
                    <td>
                        @Html.DisplayFor(m => item.NombreCompleto)
                    </td>
                    <td>
                        @Html.DisplayFor(m => item.FechaContrato)
                    </td>
                    <td>
                        @Html.DisplayFor(m => item.Direccion)
                    </td>
                    <td style="text-align: center;">
                        <a href="@Url.Action("Edit", "Contrato", routeValues: new { IdContrato = item.IdContrato })" onclick = "showDialog('#dialogoRegistro')"><span class="mif-pencil" title=@Resources.EtiquetasResource.labelEditLink></span></a>
                    </td>
                    <td style="text-align: center;">
                        <a href="@Url.Action("Delete", "Contrato", routeValues: new { IdContrato = item.IdContrato })" onclick="return confirm('@item.Contratante @Resources.EtiquetasResource.DeleteConfirmMessage');"><span class="mif-bin" title=@Resources.EtiquetasResource.labelDeleteLink></span></a>
                    </td>
                    <td style="text-align: center;">
                        <a href="@Url.Action("Show", "Contrato", routeValues: new { IdContrato = item.IdContrato })" onclick="showDialog('#dialogoRegistro');"><span class="mif-zoom-in" title=@Resources.EtiquetasResource.labelDeleteLink></span></a>
                    </td>
                </tr>
                
            }
        </tbody>
    </table>
</div>
